<!DOCTYPE html>
<html>
	<head>
		<title>Shot Stopper Academy</title>
        <link rel="icon" href="/images/SSACropTransparent.png"> 

        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
        <!-- Idk why i need this but without it everything breaks -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

        <!-- Insert any font styles -->
		<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
    </head>

    <body>

        <header class="main-header">
            <!-- Navbar for everywhere else -->
            <nav id="nav2" class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid container">
                    <a class="navbar-brand collapse-name" href="#">
                        <img id="secondLogo" src="images/SSACropTransparent.png">
                        Shot Stopper Academy
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#whoWeAre">Who we are</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#coaches">Coaches</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav sm-icons inline-icons">
                            <li class="nav-item inline-icons"><a class="nav-link" target="_blank" href="https://www.instagram.com/shotstopperacademy/"><i class="fab fa-instagram"></i></a></li>
                            <li class="nav-item inline-icons"><a class="nav-link" target="_blank" href="https://www.facebook.com/shotstopperacademy/"><i class="fab fa-facebook"></i></a></li>
                            <li class="nav-item inline-icons"><a class="nav-link" target="_blank" href="#"><i class="fab fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>

            </nav>

            <div class="container">

                <!-- Navbar for jumbotron -->


                <nav id="nav1" class="navbar">
                        <div class="d-none d-md-block header-socials">
                            <a href="https://instagram.com/shotstopperacademy/" target="_blank" class="fab fa-instagram"></a>
                            <a href="https://www.facebook.com/shotstopperacademy/" target="_blank" class="fab fa-facebook"></a>
                            <a href="#" target="_blank" class="fab fa-tiktok"></a>
                        </div>
                        <a class="navbar-brand nav-logo mx-auto">
                            <div class="logo">
                                <img id="mainLogo" src="images/SSACropTransparent.png">
                            </div>
                        </a>

                        <a data-toggle="modal" data-target="#contactModal" class="contact-button modalOpener1 d-none d-md-block" id="modalNavButton">
                            CONTACT
                        </a>
                </nav>


                
            </div>

            <section class="jumbo-section">
                <div class="content-boxed landing-title">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <h1>
                                <span>Shot Stopper</span>
                                <br>
                                Academy
                            </h1>
                        </div>
                        <div class="p-2 bd-highlight banner-text">
                            Providing top notch goalkeeper training in a safe and
                            <br>
                            fun environment, for all levels of athletes.
                        </div>
                        <div class="p-2 bd-highlight btn-holder">
                            <a data-toggle="modal" data-target="#contactModal" id="landingButton" type="button" class="btn btn-outline-light modalOpener2">GET STARTED</a>
                        </div>
                        <div class="p-2 bd-highlight middle" data-offset="300" onClick="document.getElementById('scrollClicker').scrollIntoView();">
                            <div class="mouse">
                                
                            </div>
                        </div>
                    </div>
    
                </div>

                
            </section>
        </header>
        <div>

            <section class="about-us" id="scrollClicker">
                <div class="subtitle">
                    <h2 class="sub-heading" id="whoWeAre"><span>WHO</span> WE ARE</h2>
                </div>

                <div class="container">
                    <div class="row align-items-start">
                        <div class="col-lg-6">
                            <div class="sub-text" id="who-we-are-left">
                                <p>Shot Stopper Academy is your one stop shop for all Goalkeeper’s looking to maximize their training to its full potential,
                                    located in Guelph, Ontario. We strive to provide goal-oriented training that focuses on the athlete's, skill progression, and
                                    playing ability. We offer 1-on-1 training, small group training (one coach to a maximum of five athletes),
                                    group training camps, game/training video review, and are partnered with a local performance facility to help
                                    our athletes with general fitness improvement. 
                                    <br>
                                    <br>
                                    Shot Stopper Academy can create custom programs and clinics for on location training
                                    development with Soccer Clubs, Academies, and Programs looking to provide a unique
                                    training experience for their Goalkeepers.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 justify-content-between">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=80%20Southgate%20Dr,%20Guelph,%20ON%20N1G%204P5&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    <a href="https://123movies-to.org"></a>
                                    <br>
                                    <style>.mapouter{position:relative;text-align:right;height: 500px;width: 500px;}</style>
                                    <a href="https://www.embedgooglemap.net">embed map in gmail</a>
                                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}</style>
                                </div>
                            </div>
                            <div class="sub-text" id="who-we-are-left">
                                <p>Location: <a class="pursuit" href="https://www.jointhepursuit.com/">Pursuit Athletic Centre, Guelph ON.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="our-quote">
                <div class="quote">
                    <blockquote>
                        Most kids dream of scoring the perfect goal.
                        <br>
                        I’ve always dreamed of stopping it.
                    </blockquote>
                        <br>
                        <i>- Iker Casillas</i>
                </div>
            </section>

            <section class="coaches">
                <div class="subtitle">
                    <h2 id="coaches" class="sub-heading"><span>OUR</span> COACHES</h2>
                </div>
                <div class="container sub-text">
                    <!-- 
                    <a data-toggle="modal" data-target="#profileModal">
                        <div class="profile-card-2">
                            <img src="/images/GEE_0725.jpg" class="img img-responsive">
                            <div class="profile-name">JUSTIN AMMAR</div>
                            <div class="profile-username">@shotstopperacademy</div>
                            <div class="profile-icons">
                                <a href="">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                    -->
                        <div class="main-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                <img src="/images/GEE_0725Square.jpg" alt="Admin" class="rounded-circle p-1 bg-dark" width="200">
                                                <div class="mt-3">
                                                    <h4>Justin Ammar</h4>
                                                    <p class="text-secondary mb-1">Founder | Head Coach</p>
                                                    <p class="text-muted font-size-sm">Guelph, ON.</p>
                                                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#contactModal">Contact</button>
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6 class="mb-0"><i class="fab fa-dark fa-globe text-danger"></i>Website</h6>
                                                    <span class="text-secondary">www.shotstopperacademy.ca</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6 class="mb-0"><i class="fab fa-instagram text-danger"></i>Instagram</h6>
                                                    <span class="text-secondary">@shotstopperacademy</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6 class="mb-0"><i class="fab fa-facebook text-primary"></i>Facebook</h6>
                                                    <span class="text-secondary">@shotstopperacademy</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="container">
                                            <h3 class="bio-heading">Biography</h3>
                                            <p class="description">Justin Ammar was born and raised in St. Albert, Alberta and currently resides in Guelph, Ontario. With over 5 years of coaching experience, and 20 years of playing experience, Ammar is excited to pass on his wealth of knowledge to up and coming goalkeepers. Ammar’s overseas playing experience has developed him into a well rounded coach with a German flare in his coaching style. Specializing in Goalkeeper training, Ammar encourages and helps develop athletes of any age and gender to accomplish their playing and athletic goals. Key player attributes Ammar focuses on during his training sessions include footwork, reflexes, speed, diving, proper catching technique, aerial attack, counter attack, defensive and player communication, and mental development of an athlete. </p>
                                            <p class="description">When Ammar works with athletes he enjoys training athletes who are committed, motivated, and positive. In return, Ammar promises to bring the same commitment, motivation, and positive energy to all training sessions. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="row row-centered">
                                    <div class="col-sm-12">
                                        <div class="card">


                                                <section class="cd-horizontal-timeline">
                                                    <div class="timeline">
                                                        <h3>Playing Career</h3>
                                                        <div class="events-wrapper">
                                                            <div class="events">
                                                                <ol>
                                                                    <li><a class="timelineDate selected" href="#0" data-date="01/01/2003">2003</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2005">2004</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2007">2006</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2009">2007</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2011">2009</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2013">2012</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2015">2013</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2017">2016</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2019">2019</a></li>
                                                                    <li><a class="timelineDate" href="#0" data-date="01/01/2021">2020</a></li>

                                                                </ol>
                                                
                                                                <span class="filling-line" aria-hidden="true"></span>
                                                            </div> <!-- .events -->
                                                        </div> <!-- .events-wrapper -->
                                                            
                                                        <ul class="remo cd-timeline-navigation">
                                                            <li><a href="#0" class="prev inactive">Prev</a></li>
                                                            <li><a href="#0" class="next">Next</a></li>
                                                        </ul> <!-- .cd-timeline-navigation -->
                                                    </div> <!-- .timeline -->
                                                
                                                    <div class="events-content">
                                                        <ol>
                                                            <li data-date="01/01/2003" class="selected">
                                                                <h3>U14 Super Y League, Zone 5 Gold Medal Champs </h3>
                                                                <em>2003</em>
                                                            </li>
                                                
                                                            <li data-date="01/01/2005">
                                                                <h3>U16 Team Canada Development Program</h5>
                                                                <em>2004</em>
                                                            </li>
                                                
                                                            <li data-date="01/01/2007">
                                                                <h3>Gold Medal National Champs with St. Albert Impact </h3>
                                                                <em>2006</em>
                                                            </li>
                                                
                                                            <li data-date="01/01/2009">
                                                                <h3>Grant MacEwan University Soccer Team </h3>
                                                                <em>2007-2008</em>
                                                                <p>- Bronze medalists at Nationals</p>
                                                                <p>- MVP for Nationals Tournament</p>
                                                            </li>
                                                
                                                            <li data-date="01/01/2011">
                                                                <h3>Signed with SV Heimstetten</h3>
                                                                <em>2009-2011</em>
                                                                <p>- Regionalliga in Munich, Germany</p>
                                                                <p>- First ever shut out in playing debut with the club</p>
                                                                <p>- MVP in the Duetsch Futbol Canadian Academy</p>
                                                                <p>- 2010 Regionalliga Division Champions</p>
                                                            </li>
                                                
                                                            <li data-date="01/01/2013">
                                                                <h3>NAIT OOKS</h3>
                                                                <em>2012</em>
                                                                <p>- ACAC Division Champions</p>
                                                                <p>- National Gold Medal Champions</p>
                                                            </li>
                                                
                                                            <li data-date="01/01/2015">
                                                                <h3>FC Edmonton</h3>
                                                                <em>2013-2015</em>
                                                            </li>
                                                
                                                            <li data-date="01/01/2017">
                                                                <h3>Dinamo Edmonton Croatian Soccer Club</h3>
                                                                <em>2016-2017</em>
                                                                <p>- 2016 & 2017 Premiere League Champions</p>
                                                                <p>- 2017 Team MVP</p>
                                                            </li>
                                                
                                                            <li data-date="01/01/2019">
                                                                <h3>Joondalup FC, Australia </h3>
                                                                <em>2019</em>
                                                            </li>
                                                
                                                            <li data-date="01/01/2021">
                                                                <h3>Player Retirement</h3>
                                                                <em>2020</em>
                                                            </li>
                                                
                                                        </ol>
                                                    </div> <!-- .events-content -->
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                            
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container followUs">
                        <div class="embedsocial-hashtag" data-ref="1936efbc225bb7a5f8c638a068065652d2490f04">
                            <a class="feed-powered-by-es feed-powered-by-es-feed-new" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Widget by EmbedSocial">
                                Widget by EmbedSocial<span>→</span>
                            </a>
                        </div>
                        <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
                    </div>
                </section>
        
                </section>




            <!--  --------------------------------------------------------------------------- -->

            <div class="modal fade" id="contactModal" tabIndex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                    
                            <div class="d-flex main-content">
                                <div class="bg-image promo-img mr-3">
                                </div>
                                <div class="content-text p-4">
                                    <h3>Contact Us</h3>
                                    <p>Thank you for your interest, we will get back to you shortly!</p>
      
                                    <form action="https://formspree.io/f/xknaorpk" method="POST">
                                        <div class="form-group">
                                            <label for="fname"><span class="asterisk">*</span>Full Name</label>
                                            <input name="Full Name" type="text" class="form-control" id="fname" placeholder="Full Name" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="email"><span class="asterisk">*</span>Email Address</label>
                                            <input name="Email" type="email" class="form-control" id="email" placeholder="Email Address" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input name="Phone Number" type="text" class="form-control" id="phone" placeholder="Phone Number">
                                        </div>

                                        <div class="form-group">
                                            <label for="questions">Message</label>
                                            <textarea name="Questions" class="form-control" rows="4" id="questions" placeholder="Questions, additional info, athlete age, club, etc."></textarea>
                                        </div>

                                        <p><span class="asterisk">*</span> - required</p>
                        
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary btn-block" id="submit-contact">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--  --------------------------------------------------------------------------- -->

            <div class="modal fade" id="profileModal" tabIndex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                            <div class="card">
                                <h4 class="card-header">Justin Ammar</h4>
                                <div class="card-body">
                                    <div class="profile-parent">
                                        <img src="/images/GEE_0725Square.jpg" class="img profile-pic img-responsive img-rounded full-width">
                                    </div>
                                    <p class="card-text">When Ammar works with athletes he enjoys training athletes who are committed, motivated, and positive. In return, Ammar promises to bring the same commitment, motivation, and positive energy to all training sessions. </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        
        


        <footer>
            <!-- Remove the container if you want to extend the Footer to full width. -->
            <div class="container my-5">
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4">
                            <h5 class="mb-3">Shot Stopper Academy</h5>
                            <p>
                                Thank you for your interest. To reach us,
                                <br>
                                please use the contact form provided and 
                                <br>
                                we will get back to you shortly!
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <h5 class="mb-3">Follow Us</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <a target="_blank" href="https://www.instagram.com/shotstopperacademy/">Instagram</a>
                                </li>
                                <li class="mb-1">
                                    <a target="_blank" href="https://www.facebook.com/shotstopperacademy/">Facebook</a>
                                </li>
                                <li class="mb-1">
                                    <a target="_blank" href="#">TikTok</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <h5 class="mb-1">Contact Us</h5>
                            <div class="row no-gutters">
                                <p>
                                    Pursuit Athletic Center<br>
                                    80 Southgate Dr.<br>
                                    Guelph, ON.<br>
                                    shotstopperacademy@gmail.com<br>
                                </p>
                            </div>
                        </div>
                    <div class="text-center p-3">
                        © 2023 Copyright:
                        <a class="text-light" href="https://www.shotstopperacademy.ca/">shotstopperacademy.ca</a>
                    </div>
                    <!-- Copyright -->
        
                </div>
                <!-- End of .container -->
            </footer>

        <script src="https://kit.fontawesome.com/8ec674074b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
                integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
                crossorigin="anonymous">
      </script>
       <script src="javascripts/index.js" type="text/javascript"></script>

    </body>
</html>