<!DOCTYPE html>
<html>
	<head>
		<title>Shot Stopper Academy</title>
        <link rel="icon" href="/images/SSACropTransparent.png">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
        <!-- Idk why i need this but without it everything breaks -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

        <!-- Insert any font styles -->
		<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
    </head>

    <body>

        <header class="main-header">
            <!-- Navbar for everywhere else -->
            <nav id="nav2" class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img id="secondLogo" src="images/SSACropTransparent.png">
                        Shot Stopper Academy
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#whoWeAre">Who we are</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#coaches">Coaches</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav sm-icons">
                            <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.facebook.com/shotstopperacademy/"><i class="fab fa-facebook"></i></a></li>
                            <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.instagram.com/shotstopperacademy/"><i class="fab fa-instagram"></i></a></li>
                            <li class="nav-item"><a class="nav-link" target="_blank" href="#"><i class="fab fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>

            </nav>

            <div class="container">

                <!-- Navbar for jumbotron -->
                <nav id="nav1" class="navbar">
                    <div class="header-socials">
                        <a href="https://www.facebook.com/shotstopperacademy/" target="_blank" class="fab fa-facebook"></a>
                        <a href="https://instagram.com/shotstopperacademy/" target="_blank" class="fab fa-instagram"></a>
                        <a href="#" target="_blank" class="fab fa-tiktok"></a>
                    </div>
                    <a class="navbar-brand nav-logo mx-auto">
                        <div class="logo">
                            <img id="mainLogo" src="images/SSACropTransparent.png">
                        </div>
                    </a>

                    <a data-toggle="modal" data-target="#contactModal" class="contact-button modalOpener1" id="modalNavButton">
                        CONTACT
                    </a>
                    
                </nav>


                
            </div>

            <section class="jumbo-section">
                <div class="content-boxed landing-title">
                    <h1>
                        <span>Shot Stopper</span>
                        <br>
                        Academy
                    </h1>
    
                    <div class="banner-text">
                        Providing top notch goalkeeper training in a safe and,
                        <br>
                        fun environment, for all levels of athletes. 
                    </div>
                    <div class="btn-holder">
                        <a data-toggle="modal" data-target="#contactModal" id="landingButton" type="button" class="btn btn-outline-light modalOpener2">GET STARTED</a>
                    </div>
    
                </div>

                
            </section>
        </header>
        <div>

            <section class="about-us">
                <div class="subtitle">
                    <h2 class="sub-heading" id="whoWeAre"><span>WHO</span> WE ARE</h2>
                </div>

                <div class="container">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="sub-text" id="who-we-are-left">
                                <p>Shot Stopper Academy is your one stop shop for all Goalkeeper’s looking to maximize their ability and training
                                    located in Guelph, Ontario. We strive to provide top notch training that focuses on the athletes goals and 
                                    playing ability. We offer 1 on 1 training, small group training (one coach to a maximum of five athletes),
                                    group training camps, game/training video review, and are partnered with a local performance facility to help
                                    our athletes with general fitness improvement. 
                                    <br>
                                    <br>
                                    Shot Stopper Academy can create custom programs and clinics for on location training
                                    development with Soccer Clubs,Academies, and Programs looking to provide a unique
                                    training experience for their Goalkeepers.
                                </p>
                            </div>
                        </div>

                        <div class="col justify-content-between">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="475" height="475" id="gmap_canvas" src="https://maps.google.com/maps?q=80%20Southgate%20Dr,%20Guelph,%20ON%20N1G%204P5&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    <a href="https://123movies-to.org"></a>
                                    <br>
                                    <style>.mapouter{position:relative;text-align:right;height:450px;width:450px;}</style>
                                    <a href="https://www.embedgooglemap.net">embed map in gmail</a>
                                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:450px;}</style>
                                </div>
                            </div>
                            <div class="sub-text" id="who-we-are-left">
                                <p>Location: <a class="pursuit" href="https://www.jointhepursuit.com/">Pursuit Athletic Centre, Guelph ON.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="our-quote">
                <div class="sub-text quote">
                    <blockquote>
                        Most kids dream of scoring the perfect goal.
                        <br>
                        I’ve always dreamed of stopping it.
                    </blockquote>
                        <br>
                        <i>- Iker Casillas</i>
                </div>
            </section>

            <section class="coaches">
                <div class="subtitle">
                    <h2 id="coaches" class="sub-heading"><span>OUR</span> COACHES</h2>
                </div>
                <div class="sub-text">
                    <a data-toggle="modal" data-target="#profileModal">
                        <div class="profile-card-2">
                            <img src="/images/GEE_0725.jpg" class="img img-responsive">
                            <div class="profile-name">JUSTIN AMMAR</div>
                            <div class="profile-username">@shotstopperacademy</div>
                            <div class="profile-icons">
                                <a href="">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </section>

            <!--  --------------------------------------------------------------------------- -->

            <div class="modal fade" id="contactModal" tabIndex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                    
                            <div class="d-flex main-content">
                                <div class="bg-image promo-img mr-3">
                                </div>
                                <div class="content-text p-4">
                                    <h3>Contact Us</h3>
                                    <p>Thank you for your interest, we will get back to you shortly!</p>
      
                                    <form action="https://formspree.io/f/xknaorpk" method="POST">
                                        <div class="form-group">
                                            <label for="fname">Full Name</label>
                                            <input type="text" class="form-control" id="fname" placeholder="Full Name" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email Address</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                                        </div>

                                        <div class="form-group">
                                            <label for="questions">Message</label>
                                            <textarea class="form-control" rows="4" id="questions" placeholder="Questions, additional info, athlete age, club, etc."></textarea>
                                        </div>
                        
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary btn-block">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--  --------------------------------------------------------------------------- -->

            <div class="modal fade" id="profileModal" tabIndex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                            <div class="card">
                                <h4 class="card-header">Justin Ammar</h4>
                                <div class="card-body">
                                    <div class="profile-parent">
                                        <img src="/images/GEE_0725Square.jpg" class="img profile-pic img-responsive img-rounded full-width">
                                    </div>
                                    <p class="card-text">When Ammar works with athletes he enjoys training athletes who are committed, motivated, and positive. In return, Ammar promises to bring the same commitment, motivation, and positive energy to all training sessions. </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        


        <footer>
            <!-- Remove the container if you want to extend the Footer to full width. -->
            <div class="container my-5">
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4">
                            <h5 class="mb-3">Shot Stopper Academy</h5>
                            <p>
                                Thank you for your interest. To reach us,
                                <br>
                                please use the contact form provided and 
                                <br>
                                we will get back to you shortly!
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <h5 class="mb-3">Follow Us</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <a target="_blank" href="https://www.instagram.com/shotstopperacademy/">Instagram</a>
                                </li>
                                <li class="mb-1">
                                    <a target="_blank" href="https://www.facebook.com/shotstopperacademy/">Facebook</a>
                                </li>
                                <li class="mb-1">
                                    <a target="_blank" href="#">TikTok</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <h5 class="mb-1">Latest News</h5>
                            <div class="row no-gutters">
                                <!-- Will include latest 6 instagram posts with links to each -->
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-3">
                        © 2023 Copyright:
                        <a class="text-dark" href="https://www.shotstopperacademy.ca/">shotstopperacademy.ca</a>
                    </div>
                    <!-- Copyright -->
        
                </div>
                <!-- End of .container -->
            </footer>

        <script src="https://kit.fontawesome.com/8ec674074b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
                integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
                crossorigin="anonymous">
      </script>
       <script src="javascripts/index.js" type="text/javascript"></script>

    </body>